body{
    padding: 100px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'header header header sidemenu'
    'main main content sidemenu'
    'footer footer footer sidemenu';
    padding: 10px;
    height: 400px;
    border: 1px dashed black;
}

.box{
    border: 10px solid palevioletred;
    background-color: lightpink;
}

.box-1{
    grid-area: footer;
    background-color: greenyellow;
}

.box-2{
    grid-area: sidemenu;
    background-color: green;
}

.box-3{
    grid-area: content;
    background-color: blue;
}

.box-4{
    grid-area: main;
    background-color: red;
}

.box-5{
    grid-area: header;
}